body{
    background: rgb(66, 56, 56);
}

.titletext{
    font-size: 64pt;
    color: white;
    font-weight: bold;
    text-align: center;
}

.bodytext{
    color: white;
    text-align: center;
    font-size: 20pt;

}

#BMICalc{
    text-align: center;   
    align-items: center;
    width: 50%;
    margin: 2rem auto;
    background-color: white;
}

#bmicalcd{
    font-size: 64pt;
    color:rgb(255, 255, 255);
    text-align: center;
}